@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    background-color: rgb(65, 65, 65);
  }

.map img {
  display: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
}

.watermark img {
  position:fixed;
  bottom:5px;
  right:5px;
  opacity:0.5;
}
/* Venster */
.schaarvenster {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 99;
}

.schaarvenster-inner {
  position: absolute;
  background-color: rgb(65, 65, 65);
  border-radius: 4px;
  text-align: center;
  width: 900px;
  height: 600px;
  padding: 15px 25px;
}

/* Venster Inner */

.information{
  position: absolute;
  margin: auto;
  top: 6%;
  left: 5%;
  width: 320px;
  height: 365px;
  border: 5px solid rgba(128, 128, 128, 0);
}

.foto img{
    position: absolute;
    top: 6%;
    right: 5%;
    width: 500px;
    height: 340px;
    border-radius: 4px;
}

.safety{
  position: absolute;
  top: 70%;
  right: 20%;
  width: 900px;
  height: 140px;
  border: 5px solid rgba(128, 128, 128, 0);
}

.icon img{
    position: absolute;
    right: 5%;
    width: 100px;
    height: auto;
}

.icon2 img{
    position: absolute;
    right: 20%;
    width: 100px;
    height: auto;
}

.icon3 img{
    position: absolute;
    right: 35%;
    width: 100px;
    height: auto;
}

.icon4 img{
    position: absolute;
    right: 50%;
    width: 100px;
    height: auto;
}

.bigtext{
  font-size: 40px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
}

.smalltext{
  font-size: 20px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
}

.icontext{
  font-size: 50px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
}

.status-box{
  position: absolute;
  margin: auto;
  top: 88.5%;
  left: 0%;
  width: 940px;
  height: 50px;
  border: 5px solid rgba(128, 128, 128, 0);
  justify-content: center;
}

.status{
  font-size: 40px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
  text-align: center;
}

/* Buttons */

.backtomain {
  position: absolute;
  top:.5%;
  right:.5%;
  z-index: 100;
}

.dashboard {
  position:fixed;
  bottom:5px;
  left:5px;
}

button {
  background-image: linear-gradient(to right, #3693d1, #217ba8);
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  cursor: pointer;
  padding: 10px 15px;
}

button:active {
  opacity: 0.8;
}