@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    background-color: rgb(65, 65, 65);
  }

.information{
  position: absolute;
  margin: auto;
  right: 60%;
  width: 320px;
  height: 365px;
  border: 5px solid rgba(128, 128, 128, 0);
}

.foto-box{
  position: absolute;
  margin: auto;
  left: 41%;
  width: 500px;
  height: 10px;
  border: 5px solid rgba(128, 128, 128, 0);
}

.foto img{
  width: 500px;
  height: auto;
  border-radius: 4px;
}

.safety{
  position: absolute;
  margin: auto;
  right: 0%;
  width: 800px;
  height: 140px;
  border: 5px solid rgba(128, 128, 128, 0);
}

.icon img{
    position: absolute;
    margin: auto;
    right: 70%;
    width: 100px;
    height: auto;
}

.icon2 img{
    position: absolute;
    margin: auto;
    right: 55%;
    width: 100px;
    height: auto;
}

.icon3 img{
    position: absolute;
    margin: auto;
    right: 40%;
    width: 100px;
    height: auto;
}

.icon4 img{
    position: absolute;
    margin: auto;
    right: 25%;
    width: 100px;
    height: auto;
}

.bigtext{
  font-size: 40px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
}

.smalltext{
  font-size: 20px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
}
.info-pagina{
  position: relative;
  margin: auto;
  width: 50%;
  background-color: rgb(255, 0, 0, 0);
  border-radius: 4px;
  text-align: center;
  width: 900px;
  height: 600px;
  padding: 15px 25px;
}
.info-pagina-extra {
  position: relative;
  top: 500px;
  margin: auto;
  right: 1%;
  background-color: rgb(55, 55, 55);
  border-radius: 4px;
  text-align: center;
  width: 700px;
  height: 75px;
  padding: 15px 25px;
}

.extratext {
  font-size: 30px;
  color: rgb(215, 215, 215);
  font-family: Roboto;
}

.clippy img {
    position: fixed;
    top: 585px;
    left: 550px;
    width: 70px;
    height: auto;
}

.watermark img{
    position:fixed;
    bottom:5px;
    right:5px;
    opacity:0.5;
   }

.backtomain {
  position:fixed;
  top:5px;
  left:5px;
}

.dashboard {
  position:fixed;
  bottom:5px;
  left:5px;
}

button {
  background-image: linear-gradient(to right, #3693d1, #217ba8);
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  cursor: pointer;
  padding: 10px 15px;
}

button:active {
  opacity: 0.8;
}