@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    background-color: rgb(65, 65, 65);
  }

.map img {
  display: fixed;
  width: 1895px;
  height: 862px;
  z-index: 3;
}

.watermark img {
  position:fixed;
  bottom:5px;
  right:5px;
  opacity:0.5;
}

/* Buttons */

.backtomain {
  position: absolute;
  top:.5%;
  right:.5%;
  z-index: 100;
}

.dashboard {
  position:fixed;
  bottom:5px;
  left:5px;
}

.schaarindicator img{
  position: absolute;
  width: 15px;
  height: auto;
  top: 481px;
  left: 847px;
  z-index: 1;
}
.kantbankindicator img{
  position: absolute;
  width: 15px;
  height: auto;
  top: 318px;
  left: 809px;
  z-index: 1;
}

button {
  background-image: linear-gradient(to right, #3693d1, #217ba8);
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  cursor: pointer;
  padding: 10px 15px;
}

button:active {
  opacity: 0.8;
}